.countryCard {
    padding: 1rem;
    border: black solid;
    border-radius: 15px;
    margin: 1rem;
}

.countryCard img {
    width: 10rem;
    height: 10rem;
    border-radius: 9999rem;
    border: 1px black solid;
    overflow: hidden;
    transition: .8s;
}

.link_countryCard {
    text-decoration: none;
    color: black;
   
}

.link_countryCard:hover {

    color: goldenrod;
}